*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }

.firstscreen {
  background-image: url(../img/firstscreen.jpg);
  background-position: center center;
  background-size: cover;
  color: #E5E5E5;
  text-align: center;
  font-style: normal;
  padding-bottom: 135px; }
  .firstscreen__logo {
    padding-top: 35px;
    padding-left: 66px; }
  .firstscreen__text {
    padding-top: 70px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.7px; }
    .firstscreen__text-text {
      text-transform: uppercase;
      margin-bottom: 15px; }
    .firstscreen__text-data {
      letter-spacing: 0.4px; }
  .firstscreen__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: #DDA859;
    max-width: 751px;
    margin: auto;
    margin-top: 3.4rem;
    letter-spacing: 1px; }
  .firstscreen__info {
    max-width: 700px;
    margin: auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 18px; }
  .firstscreen__btn {
    width: 262px;
    height: 50px;
    border: none;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 35px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    cursor: pointer;
    margin-top: 67px;
    margin-right: 26px;
    font-size: 15px;
    line-height: 18px; }
    .firstscreen__btn--primary {
      background: #DB0707;
      color: #FFFFFF;
      font-weight: 500;
      margin-bottom: 12px; }
      .firstscreen__btn--primary:hover {
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background: #FAF9F9;
        color: #DB0707; }
    .firstscreen__btn--light {
      color: #000000;
      background: #FAF9F9;
      padding-left: 20px;
      font-weight: 300; }
      .firstscreen__btn--light::-webkit-input-placeholder {
        color: #000000; }
      .firstscreen__btn--light::-moz-placeholder {
        color: #000000; }
      .firstscreen__btn--light:-ms-input-placeholder {
        color: #000000; }
      .firstscreen__btn--light::-ms-input-placeholder {
        color: #000000; }
      .firstscreen__btn--light::placeholder {
        color: #000000; }
    .firstscreen__btn:active, .firstscreen__btn:focus {
      outline: none; }
  .firstscreen__consent {
    font-style: italic;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #EDD9D9; }
  .firstscreen__search {
    width: 262px;
    height: 50px;
    border: none;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 35px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    cursor: pointer;
    margin-top: 67px;
    margin-right: 13px;
    margin-left: 13px;
    font-size: 15px;
    line-height: 18px; }
    .firstscreen__search--light {
      color: #000000;
      background: #FAF9F9;
      border: 1px solid #E5E5E5;
      text-align: left;
      padding-left: 20px;
      font-weight: 300; }
    .firstscreen__search:active, .firstscreen__search:focus {
      outline: none; }

.form-inline {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.secondscreen {
  margin-top: 64px; }
  .secondscreen__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .secondscreen__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000; }
    .secondscreen__title-title2 {
      padding-top: 95px;
      max-width: 941px;
      margin: auto; }
  .secondscreen__images {
    margin-top: 53px; }
  .secondscreen__text {
    margin-top: 43px;
    max-width: 551px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-left: auto; }
    .secondscreen__text-text2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 30px;
      max-width: 532px; }
      .secondscreen__text-text2-images {
        margin-right: 15px; }
    .secondscreen__text-text3 {
      margin-top: 30px;
      max-width: 481px; }
    .secondscreen__text-life {
      text-align: right;
      float: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .secondscreen__text-text4 {
      margin-top: 8px; }
    .secondscreen__text-text5 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 8px;
      max-width: 533px;
      margin-left: 20px; }
      .secondscreen__text-text5-images2 {
        margin-left: 20px; }
    .secondscreen__text-text6 {
      margin-top: 14px;
      padding-left: 60px; }
  .secondscreen__images2 {
    margin-top: 40px;
    margin-left: 15px; }

.gold {
  color: #DDA859; }

.thirdscreen {
  background-image: url(../img/thirdscreen.jpg);
  background-position: center center;
  background-size: cover;
  color: #DDA859;
  text-align: center;
  font-style: normal;
  padding-top: 78px;
  padding-bottom: 80px; }
  .thirdscreen__text {
    font-style: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    max-width: 863px;
    margin: auto;
    font-weight: 400; }
  .thirdscreen__btn {
    width: 361px;
    height: 60px;
    border: none;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 35px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    margin-top: 41px; }
    .thirdscreen__btn--primary {
      background: #DB0707;
      color: #FFFFFF;
      font-weight: 500; }
      .thirdscreen__btn--primary:hover {
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background: #FAF9F9;
        color: #DB0707; }
    .thirdscreen__btn:active, .thirdscreen__btn:focus {
      outline: none; }

.fourthscreen {
  padding-top: 72px; }

.program {
  border: 3px solid #DDA859;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 752px;
  margin: auto;
  padding-top: 32px; }
  .program__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000; }
  .program__nav {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 40px;
    margin-left: 28px; }
    .program__nav-item {
      margin-top: 25px;
      padding-left: 30px; }
  .program ul {
    max-width: 582px;
    list-style: none; }
    .program ul li {
      background: url(../img/ellipse.jpg) no-repeat 0 5px; }
  .program__practic {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    max-width: 618px;
    margin: auto;
    margin-top: 20px; }
  .program__text {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    background-color: #DDA859;
    margin-top: 43px;
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.resalt {
  max-width: 624px;
  padding-top: 1px;
  margin-left: 51px;
  padding-bottom: 52px; }
  .resalt__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 20px; }
  .resalt__info {
    margin: auto; }
  .resalt__images {
    margin-right: 20px; }

.fifthscreen {
  padding-top: 70px; }
  .fifthscreen__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    max-width: 557px;
    margin: auto; }
  .fifthscreen__firstline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 59px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .fifthscreen__pointline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    text-align: center; }
    .fifthscreen__pointline-ellipse {
      position: absolute;
      width: 15px;
      height: 15px;
      z-index: 999;
      background-color: #DDA859;
      border-radius: 50%;
      top: -7px; }
    .fifthscreen__pointline::before {
      content: '';
      display: block;
      border: 1px solid #DDA859;
      width: 358px; }
  .fifthscreen__text {
    width: 300px;
    margin-top: 10px; }
  .fifthscreen__secondline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    margin-top: 25px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .fifthscreen__pointline2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    text-align: center; }
    .fifthscreen__pointline2::before {
      content: '';
      display: block;
      border: 1px solid #DDA859;
      width: 261px; }
  .fifthscreen__btn {
    width: 361px;
    height: 60px;
    border: none;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 35px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    display: block;
    margin: auto;
    margin-top: 29px; }
    .fifthscreen__btn--primary {
      background: #DB0707;
      color: #FFFFFF;
      font-weight: 500; }
      .fifthscreen__btn--primary:hover {
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background: #FAF9F9;
        color: #DB0707;
        border: 2px solid #DB0707; }
    .fifthscreen__btn:active, .fifthscreen__btn:focus {
      outline: none; }

.sixthscreen {
  padding-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .sixthscreen__images {
    margin-left: -11px; }
  .sixthscreen__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -15px;
    margin-top: 50px; }
  .sixthscreen__speak {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.avtor__title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #232323;
  margin-top: 14px;
  letter-spacing: -1px; }

.avtor__item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 19px;
  padding-left: 20px; }

.avtor ul {
  max-width: 600px;
  list-style: none;
  padding: 0;
  margin-top: 35px; }
  .avtor ul li {
    background: url(../img/ellipse2.jpg) no-repeat 0 5px; }

.seventhscreen {
  background: #F4E4F9;
  margin-top: -40px;
  padding-bottom: 126px; }
  .seventhscreen__title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: auto;
    margin-top: 103px; }
  .seventhscreen__btn {
    width: 361px;
    height: 60px;
    border: none;
    border-radius: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 35px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    display: block;
    margin: auto;
    margin-top: 59px; }
    .seventhscreen__btn--primary {
      background: #DB0707;
      color: #FFFFFF;
      font-weight: 500; }
      .seventhscreen__btn--primary:hover {
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background: #FAF9F9;
        color: #DB0707;
        border: 2px solid #DB0707; }
    .seventhscreen__btn:active, .seventhscreen__btn:focus {
      outline: none; }

.swiper-container {
  margin-top: 50px;
  max-width: 946px; }

.card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  height: 100%;
  padding-bottom: 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  font-weight: bold;
  margin: 18px; }
  .info::after {
    content: '';
    display: block;
    width: 262px;
    height: 1px;
    background: #714271;
    position: absolute;
    left: 0;
    top: 110px; }
  .info__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 20px; }
  .info__name {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    margin-top: 9px;
    letter-spacing: -0.7px; }
  .info__study {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    margin-top: 14px; }
  .info::after {
    content: '';
    display: block;
    width: 262px;
    height: 1px;
    background: #714271; }
  .info__images {
    width: 58px;
    height: 55px; }

.quotes {
  position: absolute;
  right: 29px;
  z-index: 9999; }

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  max-width: 886px;
  margin-top: 48px;
  margin-left: 28px; }
  .text__mark {
    color: #9A2069; }

.footer {
  background-image: url(../img/footer.jpg);
  background-position: center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 34px; }
  .footer__groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__group1 {
    float: left;
    margin-left: -30px; }
    .footer__group1-text {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .footer__group1-email {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      -webkit-text-decoration-line: underline;
      text-decoration-line: underline;
      margin-top: 10px;
      letter-spacing: -0.7px; }
      .footer__group1-email a {
        color: #FFFFFF; }
  .footer__btn {
    width: 243px;
    height: 47px;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px; }
    .footer__btn--primary {
      background: #EC2808;
      color: #FFFFFF;
      font-weight: 500;
      margin-top: 38px; }
      .footer__btn--primary:hover {
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background: #FAF9F9;
        color: #EC2808; }
    .footer__btn:active, .footer__btn:focus {
      outline: none; }
  .footer__group2 {
    float: right;
    margin-right: -30px; }
    .footer__group2-text {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      text-align: right;
      text-transform: uppercase;
      color: #FFFFFF; }
    .footer__group2-document {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      text-align: right;
      color: #BDC8D9;
      margin-top: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      line-height: 25px; }

#button-up {
  display: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: fixed;
  right: 20px;
  bottom: 100px;
  color: #000;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 15px;
  z-index: 50; }
  #button-up img {
    width: 50px;
    height: 50px; }
  #button-up:hover {
    cursor: pointer; }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .secondscreen__images {
    margin-left: 0; }
  .avtor {
    margin-top: -50px; }
  .sixthscreen__group {
    margin-top: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .sixthscreen__group img {
      padding-top: 30px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .firstscreen__logo {
    padding-left: 0; }
  .firstscreen__title {
    font-size: 50px; }
  .firstscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .secondscreen__images {
    margin-top: 0;
    margin-left: 80px; }
  .secondscreen__images2 {
    margin-left: 100px; }
  .secondscreen__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .thirdscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .fifthscreen__pointline::before {
    width: 348px; }
  .fifthscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .sixthscreen__speak {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    display: block; }
  .sixthscreen__group {
    margin-top: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .sixthscreen__group img {
      padding-top: 30px; }
  .sixthscreen__images {
    margin-left: 90px; }
  .seventhscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .text {
    margin-right: 20px; }
  .footer__btn:hover {
    background: #EC2808;
    color: #FFFFFF;
    font-weight: 500; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  .firstscreen__text {
    padding-top: 40px; }
  .firstscreen__logo {
    padding-left: 0; }
  .firstscreen__title {
    font-size: 50px;
    line-height: 60px; }
  .firstscreen__btn--primary {
    margin-top: 27px;
    margin-right: 0; }
  .firstscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .firstscreen__search--light {
    margin-top: 27px; }
  .thirdscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .fifthscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .secondscreen__images {
    margin-top: 0;
    margin-left: 80px; }
  .secondscreen__images2 {
    margin-left: 100px; }
  .secondscreen__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .program__practic {
    margin: auto;
    text-align: center; }
  .program__nav {
    padding-left: 0; }
  .program__text {
    font-size: 25px; }
  .resalt {
    padding-bottom: 22px;
    margin: 30px; }
  .sixthscreen__speak {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    display: block; }
  .sixthscreen__group {
    margin-top: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    display: block; }
    .sixthscreen__group img {
      padding-top: 30px; }
  .sixthscreen__images {
    margin-left: 40px; }
  .sixthscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .text {
    margin-right: 20px; }
  .footer__btn:hover {
    background: #EC2808;
    color: #FFFFFF;
    font-weight: 500; } }

@media screen and (min-width: 481px) and (max-width: 575px) {
  .firstscreen__text {
    padding-top: 40px; }
  .firstscreen__logo {
    padding-left: 0; }
  .firstscreen__title {
    font-size: 50px;
    line-height: 60px; }
  .firstscreen__btn--primary {
    margin-top: 27px;
    margin-right: 0; }
  .firstscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .firstscreen__search--light {
    margin-top: 27px; }
  .secondscreen__images {
    margin-top: 0;
    margin-left: 30px; }
  .secondscreen__text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .secondscreen__images2 {
    margin-left: 60px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .secondscreen__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .fifthscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .thirdscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .program__practic {
    margin: auto;
    text-align: center; }
  .program__nav {
    padding-left: 0; }
  .program__text {
    font-size: 25px; }
  .resalt {
    padding-bottom: 22px;
    margin: 30px; }
  .sixthscreen__speak {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    display: block; }
  .sixthscreen__group {
    margin-top: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    display: block; }
    .sixthscreen__group img {
      padding-top: 30px; }
  .sixthscreen__images {
    margin-left: 10px; }
  .sixthscreen__btn:hover {
    background: #DB0707;
    color: #FFFFFF;
    font-weight: 500; }
  .footer__groups {
    margin: 1rem; }
  .footer__group2-document {
    margin-top: 0; }
  .footer__btn:hover {
    background: #EC2808;
    color: #FFFFFF;
    font-weight: 500; }
  .text {
    margin-right: 20px; } }

@media screen and (min-width: 360px) and (max-width: 480px) {
  .firstscreen {
    background-image: url(../img/mobilefone.jpg);
    background-position: center center;
    background-size: cover;
    padding-bottom: 88px; }
    .firstscreen__consent {
      display: block;
      width: 257px;
      font-size: 12px;
      line-height: 17px;
      margin: auto; }
    .firstscreen__text {
      padding-top: 32px; }
      .firstscreen__text-text {
        font-size: 19px;
        width: 228px;
        margin: auto;
        line-height: 20px; }
      .firstscreen__text-data {
        margin-top: 20px; }
    .firstscreen__logo {
      padding-left: 0; }
    .firstscreen__title {
      font-size: 40px;
      line-height: 48px;
      margin-top: 46px; }
    .firstscreen__info {
      font-size: 24px;
      line-height: 29px;
      max-width: 310px; }
    .firstscreen__btn--primary {
      margin-top: 6px;
      margin-right: 0; }
    .firstscreen__btn:hover {
      background: #DB0707;
      color: #FFFFFF;
      font-weight: 500; }
    .firstscreen__search--light {
      margin-top: 49px; }
  .secondscreen, .thirdscreen, .fourthscreen, .fifthscreen, .sixthscreen, .seventhscreen, .footer {
    display: none; } }

@media screen and (min-width: 320px) and (max-width: 359px) {
  .firstscreen {
    background-image: url(../img/mobilefone.jpg);
    background-position: center center;
    background-size: cover;
    padding-bottom: 88px; }
    .firstscreen__consent {
      display: block;
      width: 257px;
      font-size: 12px;
      line-height: 17px;
      margin: auto; }
    .firstscreen__text {
      padding-top: 32px; }
      .firstscreen__text-text {
        font-size: 19px;
        width: 228px;
        margin: auto;
        line-height: 20px; }
      .firstscreen__text-data {
        margin-top: 20px; }
    .firstscreen__logo {
      padding-left: 0; }
    .firstscreen__title {
      font-size: 33px;
      line-height: 48px;
      margin-top: 46px; }
    .firstscreen__info {
      font-size: 24px;
      line-height: 29px;
      max-width: 310px; }
    .firstscreen__btn--primary {
      margin-top: 6px;
      margin-right: 0; }
    .firstscreen__btn:hover {
      background: #DB0707;
      color: #FFFFFF;
      font-weight: 500; }
    .firstscreen__search--light {
      margin-top: 49px; }
  .secondscreen, .thirdscreen, .fourthscreen, .fifthscreen, .sixthscreen, .seventhscreen, .footer {
    display: none; } }

@media only screen and (max-width: 991px) {
  .animated {
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    animation: none !important; } }
