.footer
  background-image: url(../img/footer.jpg)
  background-position: center center
  padding-top: 30px
  padding-bottom: 49px
  &__btn
    width: 243px
    height: 47px
    border: none
    border-radius: 10px
    box-sizing: border-box
    text-transform: uppercase
    transition: box-shadow 0.3s
    cursor: pointer
    font-size: 14px
    line-height: 17px
    display: block
    margin-top: 39px
    color: #FFFFFF
    margin-left: -5px
    &--primary
      background: #EC2808
      color: #FFFFFF
      font-weight: 500
      &:hover
        transition: all 0.3s ease 0s
        background: #FAF9F9
        color: #DB0707
        border: 2px solid #DB0707
    &:active, &:focus
      outline: none
  &__info
    display: flex

.callCenter
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 22px
  color: #FFFFFF
  margin-left: -10px
  &__title
    text-transform: uppercase
    margin-bottom: 10px
  &__email
    text-decoration-line: underline
  a
    color: #FFFFFF
.partner
  margin-left: 280px
  margin-right: -13px
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 22px
    text-align: right
    text-transform: uppercase
    color: #FFFFFF
    margin-bottom: 60px
.document
  font-style: normal
  font-weight: normal
  font-size: 14px
  text-align: right
  color: #BDC8D9
