.fourthscreen
  padding-top: 72px
.program
  border: 3px solid #DDA859
  box-sizing: border-box
  border-radius: 10px
  max-width: 752px
  margin: auto
  padding-top: 32px
  &__title
    font-style: normal
    font-weight: bold
    font-size: 30px
    line-height: 36px
    text-align: center
    color: #000000
  &__nav
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 22px
    margin-top: 40px
    margin-left: 28px
    &-item
      margin-top: 25px
      padding-left: 30px
  ul 
    max-width: 582px
    list-style: none
    li
      background: url(../img/ellipse.jpg)  no-repeat 0 5px
  &__practic
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 22px
    color: #000000
    max-width: 618px
    margin: auto
    margin-top: 20px
  &__text
    font-style: normal
    font-weight: 500
    font-size: 30px
    line-height: 36px
    color: #FFFFFF
    background-color: #DDA859
    margin-top: 43px
    height: 54px
    display: flex
    align-items: center
    justify-content: center

.resalt
  max-width: 624px
  padding-top: 1px
  margin-left: 51px
  padding-bottom: 52px

  &__item
    display: flex
    align-items: center
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 24px
    color: #000000
    margin-top: 20px
  &__info
    margin: auto
  &__images
    margin-right: 20px
      
